services:
  mysql:
    image: mysql:8.4
    container_name: mysql-db
    restart: unless-stopped
    env_file:
      - ../.env
    environment:
      TZ: ${TZ:-UTC}
    ports:
      - "${MYSQL_PORT:-3307}:3306"
    volumes:
      - ./mysql-data:/var/lib/mysql
